<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập internet — BẮT BUỘC để gọi API -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CookUp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cookupapp.Dark"
        tools:targetApi="31">
        <!-- Đặt SplashActivity là màn hình đầu tiên -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MainActivity không còn là màn đầu nữa -->
        <activity android:name=".MainActivity"/>
<!--        &lt;!&ndash; Màn hình đầu tiên khi mở app &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".activity.SplashActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Các màn hình Auth &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".activity.LoginActivity"-->
<!--            android:screenOrientation="portrait"/>-->
<!--        <activity-->
<!--            android:name=".activity.RegisterActivity"-->
<!--            android:screenOrientation="portrait"/>-->
<!--        <activity-->
<!--            android:name=".activity.ForgotPasswordActivity"-->
<!--            android:screenOrientation="portrait"/>-->

<!--        &lt;!&ndash; Màn hình chính sau khi đăng nhập &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:screenOrientation="portrait"/>-->

    </application>

</manifest>